///////////////////////////////////////////////////////////////
//                       BREAKPOINTS
///////////////////////////////////////////////////////////////

$min-xxl: 1680px;
$max-xxl: calc($min-xxl - 0.1px);

$min-xl: 1480px;
$max-xl: calc($min-xl - 0.1px);

$min-lg: 1240px;
$max-lg: calc($min-lg - 0.1px);

$min-mlg: 992px;
$max-mlg: calc($min-mlg - 0.1px);

$min-md: 768px;
$max-md: calc($min-md - 0.1px);

$min-sm: 576px;
$max-sm: calc($min-sm - 0.1px);

$min-xsm: 390px;
$max-xsm: calc($min-xsm - 0.1px);
