include /layouts/base.pug
div.author-row
    img(src="img/author.png" alt="")
    | Written by:
    p.author-row__name Emily Johnson 
        span (Chief Editor)
    time(datetime="2025-03-15").author-row__time March 15th, 2024

