include /layouts/base.pug
table.info-table
    tbody.info-table__tbody 
        tr.info-table__row 
            td.info-table__cell Raiting:
            td.info-table__cell
                div.info-table__rating(style="--rating: 2.5;") 
                    span 4,5
        tr.info-table__row 
            td.info-table__cell Provider:          
            td.info-table__cell Push Gaming
        tr.info-table__row 
            td.info-table__cell Pay lines:
            td.info-table__cell 40
        tr.info-table__row 
            td.info-table__cell RTP:
            td.info-table__cell 96.13%
        tr.info-table__row 
            td.info-table__cell Reel layout:
            td.info-table__cell 6
        tr.info-table__row 
            td.info-table__cell Variance:
            td.info-table__cell High
        tr.info-table__row 
            td.info-table__cell Maximum win:
            td.info-table__cell $14 843,654
        tr.info-table__row 
            td.info-table__cell Payment lines:
            td.info-table__cell fifty
