include /layouts/base.pug
table.listing
    tbody.listing__list 
        tr.listing__row
            td.listing__item 
                .listing__item-wrap 
                    p.listing__item-place 1
                    img(src="img/listing-img-1.png" alt="")
                    p.listing__item-bonus 
                        img(src="img/gift.png" alt="")
                        | 500% First Deposit Bonus
                    +button("btn--primary", "Visit Casino")
                span.listing__item-best
                    +icon("star") 
                    | Users' Choice
        tr.listing__row
            td.listing__item
                    .listing__item-wrap  
                        p.listing__item-place 2
                        img(src="img/listing-img-2.png" alt="")
                        p.listing__item-bonus 
                            img(src="img/gift.png" alt="")
                            | 500% First Deposit Bonus
                        +button("btn--primary", "Visit Casino")
        tr.listing__row
            td.listing__item 
                .listing__item-wrap 
                    p.listing__item-place 3
                    img(src="img/listing-img-1.png" alt="")
                    p.listing__item-bonus 
                        img(src="img/gift.png" alt="")
                        | 500% First Deposit Bonus
                    +button("btn--primary", "Visit Casino")
        tr.listing__row
            td.listing__item
                .listing__item-wrap  
                    p.listing__item-place 4
                    img(src="img/listing-img-2.png" alt="")
                    p.listing__item-bonus 
                        img(src="img/gift.png" alt="")
                        | 500% First Deposit Bonus
                    +button("btn--primary", "Visit Casino")
