include /layouts/base.pug
.toc-section
    h3.toc-section__title Table of content
    nav.toc-section__nav 
        ul.toc-section__list 
            each item in toc 
                li.toc-section__item 
                    a(href=item.link).toc-section__link= item.title 