@use "../settings" as *;

.footer {
    position: relative;
    padding: 32px;
    @include flex(column, flex-start, flex-start, 24px);

    &.wrapper {
        margin-block: 48px;
    }

    &__row {
        position: relative;
        width: 100%;
        @include flex(row, center, flex-start);
        gap: 20px 64px;
        padding-bottom: 24px;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #503493;
        }

        &--copyright {
            gap: 16px;
            align-items: center;
            padding-block: 24px 0;

            &::after {
                top: 0;
                bottom: unset;
            }
        }
    }

    &__nav {
        width: 100%;
        flex: 1;

        &-list {
            width: 100%;
            @include flex(row, center, flex-start);
            flex-wrap: wrap;
            gap: 20px 64px;

            a {
                color: var(--on-surface-on-surface-light, #fff);
                text-align: center;
                @include transition(color);

                @include hover {
                    color: var(--tertiary-tertiary-hover, #ffba25);
                }

                @include activeFocus {
                    color: var(--tertiary-tertiary-focus, #ffc037);
                }
            }
        }

        &-item,
        &-link {
            text-align: center;
        }
    }

    &__logos {
        @include flex(row, center, flex-start, 20px);
        flex-wrap: wrap;

        img,
        svg {
            @include maxSize(100%, 48px);
            object-fit: contain;
        }
    }

    &__flags {
        @include flex(row, center, flex-start, 24px);
        flex-wrap: wrap;

        li {
            max-width: 32px;
            max-height: 23px;
            @include flex(row, center, center);
        }

        img,
        svg {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__logo {
        display: flex;

        &:is(a) {
            @include hoverOpacity;
        }

        img,
        svg {
            @include maxSize(100%, 100px);
            object-fit: contain;
        }
    }

    &__copyright {
        color: var(--on-surface-on-surface-light, #fff);
        text-align: right;
        margin-left: auto;
    }

    @include media-max-mlg {
        &__row {
            flex-direction: column;
            align-items: flex-start;

            &--copyright {
                gap: 16px;
                flex-direction: column-reverse;
            }
        }

        &__copyright {
            margin-left: 0;
        }
    }

    @include media-max-md {
        &__nav-list {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    @include media-max-sm {
        &.wrapper {
            margin-block: 32px;
        }

        &__copyright {
            @include font-body-small;
        }
        &__logos {
            gap: 16px;
            img,
            svg {
                max-height: 32px;
            }
        }
        &__flags {
            gap: 8px;
            li {
                max-width: 24px;
                max-height: 17px;
            }
        }
    }
}
