@use "../settings" as *;
.header {
    --header-height: 60px;
    $burger-max: $max-lg;
    $burger-min: $min-lg;

    @include relative;
    @include flex(row, center, flex-start, 24px);
    padding: 12px var(--offsets, 20px);
    width: 100%;
    max-width: calc(var(--width-container) + var(--offsets, 20px) * 2);
    margin-inline: auto;

    @include mediaMax(1320px) {
        padding-inline: var(--offsets, 20px);
    }

    @include mediaMax($burger-max) {
        &__logo {
            margin-right: auto;
        }
    }

    @include media-max-sm {
        gap: 16px;
    }

    &__logo {
        display: flex;

        &:is(a) {
            @include hoverOpacity;
        }

        img,
        svg {
            @include maxSize(200px, 100px);
            object-fit: contain;
        }
    }

    &__mob {
        z-index: $z-index-menu;
        margin-inline: auto;
        display: contents;

        & > .btn {
            padding: 12px 32px;
            @include media-min-sm {
                svg {
                    @include maxSize(32px, 32px);
                }
            }
        }
    }

    &__burger {
        @include relative();
        @include flex(row, center, center);
        @include size(36px, 36px);
        margin: 2px;
        padding: 8px;
        cursor: pointer;

        border-radius: var(--border-radius-radius-medium, 12px);
        background: transparent;
        @include transition(background);

        @include mediaMin($burger-min) {
            display: none;
        }

        @include hover {
            background: var(--states-hovered, rgba(255, 255, 255, 0.08));
        }

        @include activeFocus {
            background: var(--states-focused, rgba(255, 255, 255, 0.12));
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: var(--border-radius-radius-medium, 12px);
            background: var(--surface-container-surface-container, rgba(246, 246, 246, 0.12));
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="14" viewBox="0 0 18 14" fill="none"><path d="M16.5 11.833a1 1 0 0 1 0 2h-15a1 1 0 1 1 0-2zM16.5 6a1 1 0 1 1 0 2h-15a1 1 0 0 1 0-2zm0-5.833a1 1 0 1 1 0 2h-15a1 1 0 0 1 0-2z" fill="%23fff"/></svg>');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: auto;
        }
    }

    &.menu-active {
        background: #42208b;
        .header__burger {
            &::after {
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none"><path d="M12.124.46a1 1 0 1 1 1.414 1.414L8.413 7l5.126 5.126a1 1 0 0 1-1.414 1.414L6.999 8.413 1.873 13.54A1 1 0 0 1 .46 12.125L5.585 7 .46 1.874A1 1 0 1 1 1.874.46l5.125 5.125z" fill="%23fff"/></svg>');
            }
        }
    }

    @include mediaMin($burger-min) {
        &__nav {
            margin-inline: auto;
            align-self: stretch;
            @include flex(row, stretch, flex-start);
            margin-block: -12px;
        }
    }

    @include mediaRange($min-md, $burger-max) {
        &:not(.menu-active) {
            .header__nav {
                display: none;
            }
        }

        &__nav {
            z-index: $z-index-menu;
            @include flex(column, stretch, flex-start);
            background: #42208b;
            padding: 10px var(--offsets, 20px);
            overflow-y: auto;
            @include absolute(100%, 0);
            @include size(100%, calc(100vh - var(--header-height) + 2px));
            @include thin-v-scrollbar;
        }
    }

    @include media-max-md {
        &:not(.menu-active) {
            .header__mob {
                display: none;
            }
        }
        &__mob {
            @include mediaMax($burger-max) {
                @include flex(column, stretch, flex-start);
                background: #42208b;
                padding: 10px var(--offsets, 20px);
                overflow-y: auto;
                @include absolute(100%, 0);
                @include size(100%, calc(100vh - var(--header-height) + 2px));
                @include thin-v-scrollbar;

                & > .btn {
                    order: -1;
                    width: 100%;
                }
            }
        }
    }

    @include media-max-sm {
        padding-block: 8px;
        &__logo {
            img,
            svg {
                max-height: 50px;
            }
        }
    }
}
