@use "../settings" as *;

.section-faq {
    &__list {
        width: 100%;
        columns: 2;
    }

    &__item {
        @include relative();
        width: 100%;
        margin-top: 16px;
        border-radius: 16px;
        background: var(--surface-container-surface-container-low, #2e1062);
        overflow: hidden;
        break-inside: avoid;

        &:first-child {
            margin-top: 0;
        }

        p {
            margin: 16px;
            color: var(--on-surface-on-surface, #ece8f2);
        }

        &[open] {
            summary {
                .section-faq__item-arrow::after {
                    transform: rotate(-180deg);
                }
            }
        }

        &-arrow {
            @include flex(row, center, center);
            width: 36px;
            height: 36px;
            padding: 8px;
            margin: 2px;
            border-radius: var(--border-radius-radius-medium, 12px);
            border: 1px solid var(--on-surface-on-surface-dark, #d3bcf7);
            @include transition(background);

            &::after {
                content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="m16.668 7.419-1.567-1.586-5.1 5.151-5.1-5.15-1.566 1.585L10 14.167z" fill="%23fff"/></svg>');
                width: 20px;
                height: 20px;
                display: block;
                transform-origin: center;
                @include transition(transform);
            }
        }
    }

    summary {
        @include relative();
        @include flex(row, center, space-between, 24px);
        min-height: 72px;

        padding: 16px;
        cursor: pointer;
        list-style: none;

        @include transition(background);

        &::marker {
            content: "";
        }

        &::-webkit-details-marker {
            display: none;
        }

        color: var(--on-surface-on-surface-light, #fff);
        @include font-label;

        @include hover {
            .section-faq__item-arrow {
                background: var(--states-hovered, rgba(255, 255, 255, 0.08));
            }
        }

        @include active {
            .section-faq__item-arrow {
                background: var(--states-focused, rgba(255, 255, 255, 0.12));
            }
        }
    }

    .author-block {
        margin: 0;
        flex: 0.4324;
    }

    @include media-max-mlg {
        &__list {
            @include flex(column, stretch, flex-start, 16px);
        }

        &__item {
            margin-top: 0;
        }
    }

    @include media-max-sm {
        &__list {
            gap: 8px;
        }
        summary {
            padding: 8px 16px;
            min-height: 56px;
        }
    }
}
