include /layouts/base.pug
footer.footer.wrapper.bg-block
    .footer__row 
        a.footer__logo(href="#") 
            img(src="img/footer-logo.png" alt="")
        nav.footer__nav 
            ul.footer__nav-list 
                each el in footerMenu 
                    li.footer__nav-item 
                        a.footer__nav-link(href= el.link, class=`${el.class ? el.class : ""}`)= el.title
    ul.footer__logos 
        each item in footerLogos 
            li 
                img(src=`${item}`, alt="")
    .footer__row.footer__row--copyright
        if footerFlags
            ul.footer__flags    
                each item in footerFlags 
                    li  
                        img(src=`${item}`, alt="")
        p.footer__copyright
            | Copyright © 2024. All right reserved
        