include /layouts/base.pug
section.wrapper.section-faq.bg-block
    h2 FAQs
    .section-faq__list
        each item in faq 
            details.section-faq__item 
                summary= item.quest
                    span.section-faq__item-arrow
                p= item.answer
