include /layouts/base.pug
section.wrapper.section-hero.no-bg
    .section-hero__content
        h1 Sugar Rush
        include /components/fragments/author-row.pug
        p Kong FU is an extremely popular pokie, and it is easy to understand why. It has everything that a player could want – incredible graphics, exciting gameplay and the chance to become an instant millionaire. The game is created by Microgaming, and it is one of their most successful releases. It is available at most online casinos, and it can be played for free or for real money. If you want to learn more about this game, this Mega Moolah Australia review is just for you.
    .section-hero__demo(style="background-image:url('img/preview.png');") 
        .section-hero__demo-col 
            .section-hero__demo-logo 
                img(src="img/betera.png" alt="")
                span 
                    b Best place 
                    | to play Sugar Rush
            .section-hero__demo-btns 
                button.btn.btn--secondary.btn--l.js-modal__btn 
                    | Play for real money 
                button.btn.btn--elevated.btn--l.js-modal__open(data-modal-title="Aviator" data-modal-url="https://demo.spribe.io/launch/aviator?currency=INR&lang=EN") 
                    | Play demo 


