doctype html
html(lang="en")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title default page
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
    link(rel="stylesheet",  href=cssPath)
    body
        main
            div(style="display: flex; flex-direction: column; gap: 15px; padding: 30px;")
                a(href="/iplbettingguru.com/dist/index.html") Main Page
                a(href="/iplbettingguru.com/dist/review-page.html") Review Page
                a(href="/iplbettingguru.com/dist/mobile-app.html") Mobile App
                a(href="/iplbettingguru.com/dist/default-page.html") Default Page

        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
        script(src=jsPath, type=jsType ? 'module' : undefined)
