@use "../settings" as *;

.btn {
    cursor: pointer;
    overflow: hidden;
    @include relative;
    @include flex(row, center, center, 8px);

    @include size(max-content);
    @include maxSize(100%);

    padding: 12px 24px;
    border-radius: 500px;
    background: transparent;
    flex-shrink: 0;

    color: var(--primary-on-primary, #fff);
    text-align: center;
    @include font-label-fixed;

    @include transition(#{background, box-shadow, color, border-color});

    svg {
        display: flex;
        @include minSize(18px, 18px);
        @include maxSize(24px, 24px);
        vertical-align: middle;
        path {
            fill: currentColor;
        }
    }

    &[disabled],
    &.disabled {
        pointer-events: none;
    }

    &--l {
        padding: 16px 32px;

        @include media-min-sm {
            svg {
                @include maxSize(32px, 32px);
            }
        }
    }
    &--s {
        padding: 8px 16px;
    }

    &--primary {
        color: var(--primary-on-primary, #fff);
        background: #e5128f;

        @include hover {
            background: var(--primary-primary-hover, #ee1b99);
        }

        @include activeFocus {
            background: var(--primary-primary-focus, #f624a2);
        }

        &[disabled],
        &.disabled {
            background: var(--primary-primary-disabled, #a13374);
            color: var(--primary-on-primary-disabled, #bf72a0);
        }
    }

    &--secondary {
        color: var(--secondary-on-secondary, #fff);
        background: var(--secondary-secondary, #1ec079);

        @include hover {
            background: var(--secondary-secondary-hover, #2cce87);
        }

        @include activeFocus {
            background: var(--secondary-secondary-focus, #32d88f);
        }

        &[disabled],
        &.disabled {
            background: var(--secondary-secondary-disabled, #347a59);
            color: var(--secondary-on-secondary-disabled, #79c5a1);
        }
    }

    &--tertiary {
        color: var(--tertiary-on-tertiary, #393121);
        background: var(--tertiary-tertiary, #f6b018);

        @include hover {
            background: var(--tertiary-tertiary-hover, #ffba25);
        }

        @include activeFocus {
            background: var(--tertiary-tertiary-focus, #ffc037);
        }

        &[disabled],
        &.disabled {
            color: var(--primary-on-primary-disabled, #bf72a0);
            background: var(--tertiary-tertiary-disabled, #9c7f3f);
        }
    }

    &--elevated {
        color: var(--on-surface-on-surface-light, #fff);
        background: var(--surface-container-surface-container-high, #9263e7);

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            z-index: 0;
            pointer-events: none;
            @include transition(background);
        }

        & > * {
            position: relative;
            z-index: 1;
        }

        @include hover {
            &::after {
                background: var(--states-hovered, rgba(255, 255, 255, 0.08));
            }
        }

        @include activeFocus {
            &::after {
                background: var(--states-focused, rgba(255, 255, 255, 0.12));
            }
        }

        &[disabled],
        &.disabled {
            color: var(--surface-container-on-surface-container-disabled, #876eb2);
            &::after {
                background: var(--surface-container-surface-container-disabled, #513289);
            }
        }
    }

    &--outlined {
        background: transparent;
        border: 1px solid var(--on-surface-on-surface-light, #fff);
        color: var(--on-surface-on-surface, #ece8f2);

        @include hover {
            background: var(--states-hovered, rgba(255, 255, 255, 0.08));
        }

        @include activeFocus {
            background: var(--states-focused, rgba(255, 255, 255, 0.12));
        }

        &[disabled],
        &.disabled {
            border-color: var(--on-surface-on-surface-dark, #d3bcf7);
            color: var(--surface-container-on-surface-container-disabled, #876eb2);
        }
    }

    &--link {
        padding: 0;
        @include font-body;

        @include hover {
            color: var(--tertiary-tertiary-hover, #ffba25);
        }

        @include activeFocus {
            color: var(--tertiary-tertiary-focus, #ffc037);
        }

        &[disabled],
        &.disabled {
            color: var(--surface-container-on-surface-container-disabled, #876eb2);
        }
    }

    &--text {
        border-radius: 0;
        color: var(--on-surface-on-surface-light, #fff);
        background: transparent;

        @include hover {
            background: var(--states-hovered, rgba(255, 255, 255, 0.08));
        }

        @include activeFocus {
            background: var(--states-focused, rgba(255, 255, 255, 0.12));
        }

        &[disabled],
        &.disabled {
            color: var(--surface-container-on-surface-container-disabled, #876eb2);
        }
    }

    &.btn--link.btn--s {
        font-size: rem(15);
    }

    @include media-max-sm {
        &--l {
            padding: 12px 24px;
        }
    }
}
