@use "../settings" as *;

.go-up {
    @include flex(row, center, center);
    @include size(56px, 56px);

    @include fixed($bottom: 80px, $right: 32px);
    z-index: $z-index-go-up;

    border-radius: 16px;
    background: var(--surface-container-high, #282b24);
    box-shadow:
        0px 4px 8px 3px rgba(0, 0, 0, 0.15),
        0px 1px 3px 0px rgba(0, 0, 0, 0.3);

    cursor: pointer;
    overflow: hidden;

    @include transition(box-shadow);

    &:not(.active) {
        display: none;
    }

    @include media-max-sm {
        @include fixed($bottom: 100px, $right: 16px);
    }

    &::after {
        content: "";
        @include absolute($all: 0);
        z-index: 2;

        pointer-events: none;
        background-color: transparent;

        @include transition(background);
    }

    @include hover {
        box-shadow:
            0px 6px 10px 4px rgba(0, 0, 0, 0.15),
            0px 2px 3px 0px rgba(0, 0, 0, 0.3);

        &::after {
            background: var(--primary-opacity-008, rgba(208, 188, 255, 0.08));
        }
    }

    @include focus {
        &::after {
            background: var(--primary-opacity-012, rgba(208, 188, 255, 0.12));
        }
    }

    @include active {
        &::after {
            background: var(--primary-opacity-012, rgba(208, 188, 255, 0.12));

            @include size(calc(100% + 30px), calc(100% + 30px));

            border-radius: 50% 70% 0 80%;
            transform: translate(20px, 30px);

            animation: upPressed 0.5s forwards;
        }
    }

    @keyframes upPressed {
        0% {
            transform: translate(50%, 50%);
        }
        100% {
            transform: translate(-30px, -30px);
        }
    }

    svg {
        @include maxSize(24px, 24px);
    }
}
