@use "../settings" as *;

.mob-btn {
    @include sticky($bottom: 0px, $left: 0);
    z-index: $z-index-fixed;

    padding: 12px 16px 12px 70px;
    background: var(--surface-container, #1d211a);

    display: flex;
    align-items: center;
    gap: 4px;

    img,
    svg {
        position: absolute;
        left: 16px;
        bottom: 0;
        max-width: 46px;
        max-height: 56px;
    }

    .btn {
        margin-left: auto;
        border-radius: 8px;
        padding: 8px;
        font-size: rem(18);
        width: 145px;
        min-width: min-content;
    }

    &__text {
        @include flex(column, flex-start, center, 2px);
        color: var(--on-surface, #e1e4d9);

        span {
            color: var(--primary, #7ade50);
        }
    }

    @include media-min-sm {
        display: none;
    }
}
