@use "../settings" as *;

.scrolling .table {
    td,
    th {
        pointer-events: none;
        user-select: none;
    }
}

.table.js-scroll-list {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    @include hideScrollbar;

    margin-top: 24px;

    &:first-child {
        margin-top: 0;
    }

    table {
        table-layout: auto;
        min-width: 700px;

        td {
            &:last-child {
                text-align: unset;
            }
        }
    }

    @include media-max-sm {
        margin-top: 20px;
    }
}

table:not([class]),
table.wp-block-table {
    table-layout: fixed;
    border-spacing: 0;

    margin-top: 24px;
    border-radius: 16px;
    border: 1px solid var(--outline-outline-light, #6344ab);

    @include font-body;

    &:first-child {
        margin-top: 0;
    }

    th {
        padding: 16px 32px;
    }

    th,
    td {
        border-right: 1px solid var(--outline-outline-light, #6344ab);

        &:last-child {
            border-right: 0;
        }

        &:first-child {
            padding-left: 16px;
            white-space: nowrap;
        }
    }
    td {
        height: 56px;
        padding: 8px 32px;
    }

    th {
        border-bottom: 1px solid var(--outline-outline-light, #6344ab);
        text-align: left;
        @include font-label;
    }

    tr {
        &:not(:last-child) {
            td {
                border-bottom: 1px solid var(--outline-outline-light, #6344ab);
            }
        }
    }

    tbody:first-child td:first-child {
        font-size: rem(16);
        line-height: rem(24);
        font-weight: 700;
        width: 1px;
    }

    @include media-max-sm {
        margin-top: 20px;

        th,
        td {
            padding: 8px 20px;

            &:first-child {
                padding-left: 12px;
            }
        }
    }
}
