mixin icon(name)
    if name === 'arrow-down'
        include /img/svg/arrow-down.svg
    if name === 'gift'
        include /img/svg/gift.svg
    if name === 'lang-arrow'
        include /img/svg/lang-arrow.svg
    if name === 'star'
        include /img/svg/star.svg
    if name === 'test'
        include /img/svg/test.svg
    if name === 'test2'
        include /img/svg/test2.svg