@use "settings" as *;

.wrapper {
    position: relative;
    width: 100%;
    background: transparent;
    max-width: calc(var(--width-container) + var(--offsets, 20px) * 2);
    padding-inline: var(--offsets, 20px);
    margin: var(--wrapper-margin) auto 0;

    & > img {
        &:not(:first-child) {
            margin-top: 20px;
        }
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    & > .btn {
        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    &.bg-block {
        max-width: var(--width-container);
        margin: var(--wrapper-margin) auto 0;
    }

    @include mediaMax(1320px) {
        &.bg-block {
            margin-inline: var(--offsets, 20px);
            max-width: calc(100% - var(--offsets, 20px) * 2);
        }
    }

    @include media-max-md {
        & > .btn {
            width: 100%;
        }
    }
}

.bg-block {
    width: 100%;
    padding: 24px;
    border-radius: 32px;
    background: var(--surface-container-surface-container-transparent, rgba(59, 28, 129, 0.8));

    @include media-max-sm {
        padding: 16px;
        border-radius: 24px;
    }
}

.cols {
    display: grid;
    grid-template-columns: 1fr fit-content(50%);
    gap: 20px 32px;
    align-items: flex-start;

    &--fixed {
        grid-template-columns: 1fr 1fr;
    }

    @include media-max-mlg {
        grid-template-columns: 1fr;

        &--fixed {
            row-gap: 24px;
        }

        & > *,
        .toc-section {
            width: 100%;
        }
    }
}
