//- AUTO-INJECT-START
include /components/fragments/breadcrumbs.pug
include /components/fragments/button.pug
include /components/fragments/mob-btn.pug
include /components/fragments/pros-cons.pug
include /components/fragments/table.pug
//- AUTO-INJECT-END
include /mixins/icons.pug
block content